<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body
    class="container-fluid d-flex flex-column justify-content-start min-vh-100 bg-light text-black"
    style="max-width: 900px"
  >
    <!-- Header section -->
    <header>
      <nav
        class="d-flex flex-row align-items-center justify-content-between mb-2 p-1 w-100"
      >
        <a
          href="/"
          class="link-dark link-offset-2 link-underline link-underline-opacity-0"
          ><h1 class="fs-3 fw-bold mt-4 mb-4">The New York Times</h1></a
        >
        <a href="/">Back</a>
      </nav>
    </header>

    <!-- Main content section -->
    <main class="container flex-grow-1">
      <!-- Display article -->
      <div class="mb-4">
        <% if(post){ %>
        <h2 class="mb-4"><%= post.title %></h2>
        <div class="d-flex flex-row justify-content-between">
          <%= post.article %>
        </div>
        <% } %>
      </div>
      <div class="d-flex flex-row align-items-center justify-content-end mb-2">
        <!-- Edit button -->
        <button class="btn btn-outline-success me-3">
          <a
            href="/edit/article/<%= post._id %>"
            class="link-offset-2 link-underline link-underline-opacity-0"
            >Edit article</a
          >
        </button>

        <!-- Delete button -->
        <form action="/delete/article/<%= post._id %>" method="POST">
          <button class="btn btn-outline-danger">Delete article</button>
        </form>
      </div>
    </main>

    <!-- Footer section -->
    <%- include('./partials/footer') %>
  </body>
</html>
